{% if passages %}
<table class="table" id="passages-table">
    <thead>
        <tr>
            <th class="center"><input type="checkbox" id="select-all" onchange="toggleSelectAll(this)"></th>
            <th>ID</th>
            <th>大学</th>
            <th>年度</th>
            <th>問番号</th>
            <th>種別</th>
            <th>文体</th>
            <th>語数</th>
            <th>CEFR</th>
            <th>ジャンル</th>
            <th>サブ</th>
            <th>テーマ</th>
            <th>和訳</th>
            <th>説明(日)</th>
            <th>説明(英)</th>
            <th>要約(日)</th>
            <th>要約(英)</th>
            <th>和英</th>
            <th>自英</th>
            <th>視覚</th>
            <th>済</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for p in passages %}
        {% include "partials/record_row.html" %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="muted">データがありません。MDファイルをアップロードしてください。</p>
{% endif %}
